/*-- scss:defaults --*/


/*-- scss:rules --*/
section#sec-preface h1, section#sec-preface h2 {
    display: none;
}
.sidebar-menu-container .sidebar-item:nth-of-type(1) {
    display:none;
} 

#title-block-header .author-title, #title-block-header .date-title, #title-block-header .subject-info-title{
    font-size: small;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

.quarto-light #title-block-header .author-title, .quarto-light #title-block-header .date-title, .quarto-light #title-block-header .subject-info-title{
    color: var(--quarto-text-muted);
}
.quarto-dark #title-block-header .author-title, .quarto-dark #title-block-header .date-title, .quarto-dark #title-block-header .subject-info-title{
    color: #ADADAD;
}

#title-block-header div.subject-info {
    margin-block-start: 1rem
}
#title-block-header .author, #title-block-header .date, #title-block-header .subject, #title-block-header .degree, #title-block-header .term{
    margin-left: 0.5rem;
}
#title-block-header div.subject-info p {
    margin-bottom: 0.2rem
}
.quarto-cover-image {
    max-width: 100%;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.quarto-dark code {
    color: gold;
}

// // Sidebar (chapters)
// #quarto-sidebar > div:nth-of-type(1) {
//     margin: 0;
//     padding: 0;
// } 
// #quarto-sidebar > div:nth-of-type(1)::after {
//     content: "Contenidos \a";
//     white-space: pre;
//     color: var(--quarto-text-muted);
// } 

// // Chapter TOC
// .sidebar nav[role=doc-toc] > ul:nth-of-type(1) {
//     padding-top: 17px;
// } 
// .sidebar nav[role=doc-toc] #toc-title {
//     color: var(--quarto-text-muted);    
// }

.sidebar-title .sidebar-tools-main {
    display: flex;
    margin-top: 6px;
}

#quarto-sidebar .mt-2.flex-shrink-0.align-items-center {
    margin-top: 0;
    padding-top: 0;
}